<div class="center-jumbotron">
  <h1>Bienvenido a Destiny</h1>

  <h2>
    El futuro de tu gente está en tus manos. Conviértete en el héroe de una
    civilización aventurera que lucha por sobrevivir en un entorno apocalíptico.
    Crea tu destino y cumple tus metas.
  </h2>

  <%= link_to "Únete a la legión de forjadores", signup_path,
  class: "btn btn-lg btn-primary d-button" %>
</div>
