<footer class="footer">
  <small>
    <a href="/">DESTINY</a>
    por <a href="https://www.linkedin.com/company/free-to-play-gamification">
      Free To Play Gamification
    </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   about_path %></li>
      <li><%= link_to "Contacto", contact_path %></li>
      <li><a href="https://twitter.com/F2P_CO">Noticias</a></li>
    </ul>
  </nav>
</footer>
